.fc-sun , .fc-sat {
	color: red;
}

.fc button, .fc table, body .fc {
	font-size: 20px !important;
}

.fc-today {
	color: green;
}

.fc-unthemed td.fc-today {
    background: #c8f9f4;
}

.fc-event, .fc-event-dot {
	    background-color: red;
	    border: none;
}

.fc-event, .fc-event:hover {
	color: #000;
}

.fc-title {
	color: #fff;
}

/*
.fc-week .fc-bg .fc-day {
	background-color: red;
} */

.fc-event {
	background-color: red;
}